/* Variabili */

:root {
    --green: #9bb622;
    --orange: #dd4720;
}

/* Generali */

body {
    border: 0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.main-container {
    border: 4px solid var(--orange);
    box-sizing: border-box;
    height: calc(100vh - 40px);
    margin: 20px auto;
    padding: 20px;
    width: 1600px;
}

.main-title {
    color: var(--orange);
    font-size: 82px;
    font-weight: bold;
    text-align: center;

}

.levels {

}

/* Genercici livello */

.level {

}

.level .main-title {

}

.level .description {
    
}

.level .content {
    
}

/* Livello 1 */

.level .content .top-faces, .level .content .bottom-faces {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    transition: all 0.2s ease;
}

.level .content .top-faces {
}

.level .content .bottom-faces {

}

.level .content .face {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.2s ease;
}

.level .content .top-faces .face {
    cursor: grab;
}

.level .content .top-faces .face:not(.linked):hover {
    scale: 2;
}

.level .content .bottom-faces .face:not(.linked) img {
    opacity: 0;
    visibility: hidden;
}

.level .content .bottom-faces .face {
    position: relative;
}

.level .content .bottom-faces .face img {
    pointer-events: none;
}

.level .content .top-faces .face.linked {
    opacity: 0.3;
}

.level .content .bottom-faces .face.linked img {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.level .content .face img {
    width: 150px;
    height: 150px;
}

.level .content .face .developer-name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    pointer-events: none;
}

.level .content .face .developer-name {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    position: absolute;
    width: 100%;
    border: 6px dashed var(--green);
    box-sizing: border-box;
}

/* Livello 2 */

/* Livello 3 */

/* Livello 4 */

